<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-light" *ngIf="showNavbar">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="https://o.remove.bg/downloads/613cfc9a-cdfc-43e5-961f-f2f162ff1b6c/image-removebg-preview.png" alt=""  style="height: 60px; width:100%"></a>
        <form class="d-flex">
            <button class="btn btn-primary " type="submit" routerLink="/login">Se connecter</button>
        </form>
    </div>
</nav> 
<section *ngIf="showNavbar">
    <img class="w-100" src="../assets/banniere.png" alt="" style="height: 485px;">
</section>  -->
